<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="7189f8fb-ab40-41ca-913a-be3c40ecfee0" created="2.2.0" activeEnvironment="Default environment" name="Flickr_Project" resourceRoot="" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:properties><con:property><con:name>api_key</con:name><con:value>a43319c0713e2915cc71eb70dc6d1606</con:value></con:property><con:property><con:name>fliker_endpoint</con:name><con:value>https://api.flickr.com</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>